
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /> <br /> <br />
<br /><br /><br /><br />
<section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="thumbnail">
                    <a href="@Url.Action("Index","Facilty")">
                        <img src="~/Image/sky2.png" alt="Lights" style="width:100% ; border-radius:200px 200px" />
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="thumbnail">
                    <a href="@Url.Action("Packages","Internal_Package")">
                        <img src="~/Image/sky1.png" alt="Nature" style="width:100% ; border-radius:200px 200px" />
                    </a>
                </div>
            </div>
        </div>
        <br /> <br />
        @*<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="text-center" style="font:bold;color:#ed3c0d">جميع الخدمات بالتعاون مع شركة عفانه للسياحة والسفر</h1>
                <div class="mt-3 text-center">
                    <a href="https://www.facebook.com/attt.jo" class="btn btn-outline-primary"><i class="bx bxl-facebook"></i></a>
                    <a href="http://attt-jo.com/" class="btn btn-outline-danger"><i class="bx bxl-chrome"></i></a>
                    <a href="https://wa.me/962787998459" class="btn btn-outline-success"><i class="bx bxl-whatsapp"></i></a>
                    <a href="tel:962787998459" class="btn btn-outline-secondary"><i class="bx bx-phone-call"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="thumbnail">
                    <img src="~/Image/afana.jpg" alt="Lights" style="width:100% ; border-radius:200px 200px" />
                </div>
            </div>
            <div class="col-lg-12 col-md-6 col-sm-6">

            </div>
        </div>*@
    </div>
</section>@*<ai-chat> </ai-chat>
<script>
    document.querySelector('ai-chat').setAttribute('lang', 'en');
</script>
<script src="https://ai.marketing/chat/ai-chat.js" async></script>*@

