@model JordanSky.Entity.Booking_package
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
   
</script>



<section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>احجز رحلتك</h2>
        </div>
        <form class="php-email-form" id="myform" method="post" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" name="Name" class="form-control" id="txtName" placeholder="الاسم " >
                    <label id="lblName" style="color:red;display:none"></label>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="tel" class="form-control" id="txtPhone" name="Phone" placeholder="رقم الهاتف"  maxlength="10"  >
                    <label id="lblPhone" style="color:red;display:none"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <span>اختر نقطة الانطلاق</span>
                    <select id="ddlStart" name="Start_Id" class="form-control">
                        @foreach (var item in ViewBag.Start)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <label id="lblStart" style="color:red;display:none"></label>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <span>عدد الاشخاص</span>
                    <input type="number" class="form-control " id="No_Pepole" >
                    <label id="lblNum_Pepole" style="color:red;display:none"></label>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <span>عدد الأطفال</span>
                    <input type="number" class="form-control " id="No_Child" >
                    <label id="lblNum_Child" style="color:red;display:none"></label>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <textarea rows="5" type="" name="Details" class="form-control" id="txtDesc" placeholder="ملاحظات"></textarea>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" onclick="btnSave(@ViewBag.ID)" >احجز الآن</button>

            </div>
        </form>
    </div>
</section>
<script>



    function validatePhone(phoneNumber) {
        var phoneNumberPattern = /^\(?([0][7])\)?[-. ]?([7-9])[-. ]?([0-9]{7})$/;
        return phoneNumberPattern.test(phoneNumber);
    }


    function btnSave(id) {
        debugger



        if ($("#txtName").val() == "" || $("#txtPhone").val() == "" || $("#No_Child").val() == "" || $("#No_Pepole").val() == "") {

           
            //$("#lblPhone").text("عبي العدد ");
            //$("#lblPhone").show();
            //$("#lblNum_Pepole").text("عبي العدد");
            //$("#lblNum_Pepole").show();
            ////$("#lblStart").text("skjnskmsls");
            ////$("#lblStart").show();
            //$("#lblNum_Child").text("skjnskmsls");
            //$("#lblNum_Child").show();

            if ($("#txtName").val() == "") {
                $("#lblName").text("عبي الاسم ");
                $("#lblName").show();
            }
            else {
                $("#lblName").hide();
            }




            if ($("#txtPhone").val() == "") {
                $("#lblPhone").text("عبي الرقم ");
                $("#lblPhone").show();

            }
            else if (validatePhone($("#txtPhone").val()) == false) {
                $("#lblPhone").text("  صح يا اخو الشرموطه عبي الرقم ");
                $("#lblPhone").show();
            }
            else {
                $("#lblPhone").hide();
            }
          

            if ($("#No_Child").val() == "" ) {
                $("#lblNum_Child").text("عبي عدد الاشخاص  ");
                $("#lblNum_Child").show();
            }
            else if ($("#No_Child").val() < 2) {
                $("#lblNum_Child").text("  اكبر من 2 عدد الاشخاص  ");
                $("#lblNum_Child").show();

            }
            else {
                $("#lblNum_Child").hide();
            }


            if ($("#No_Pepole").val() == "") {
                $("#lblNum_Pepole").text("عبي عدد الاشخاص  ");
                $("#lblNum_Pepole").show();
            }
            else if ($("#No_Pepole").val() < 2) {
                $("#lblNum_Pepole").text("  اكبر من 2 عدد الاشخاص  ");
                $("#lblNum_Pepole").show();

            }
            else {
                $("#lblNum_Pepole").hide();
            }





          

        }

  


        else { 
        var obj = {};
        obj.Name = $("#txtName").val();
        obj.Phone = $("#txtPhone").val();
        obj.No_Pepole = $("#No_Pepole").val();
        obj.No_Child = $("#No_Child").val();
        obj.Start_Id = $("#ddlStart").val();
        obj.Details = $("#txtDesc").val();
        obj.Package_id = id;
        $.ajax({
            type: "Post",
            url: "/Internal_Package/Book",
            data: obj,
            dataType: "json",
            success: function (data) {
                debugger
                if (data == true) {

                    window.location = '@Url.Action("DetailsPackages/Id", "Internal_Package")'.replace("Id", id)
                }
                else {
                    $("#lblError").show();

                }
            },
            });
        }
    

    }
</script>


