
@model JordanSky.Entity.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Login/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Content/Login/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/Content/Login/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <link href="~/Content/Login/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/Login/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/Login/css/util.css" rel="stylesheet" />
    <link href="~/Content/Login/css/main.css" rel="stylesheet" />
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-26">
                            Login Admin
                        </span>
                        <div class="wrap-input100 validate-input" data-validate="Enter Username">
                            <input class="input100" type="text" id="txtUsername" name="Username">
                            <span class="focus-input100" data-placeholder="username"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            <input class="input100" type="password" id="txtpass" name="Password">
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" type="submit">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/Login/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Content/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Login/vendor/select2/select2.min.js"></script>
    <script src="~/Content/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Login/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Content/Login/js/main.js"></script>

</body>
</html>